section
    div(class='column-profile')
        form(class="form-profile", method='get')
            fieldset 
                div
                label(for="groupName") <b>Group Name:</b>
                div
                label(for="name") #{group.name}
                div
                label(for="groupDesc") <b>Group Description:</b> 
                div
                label(for="desc")  #{group.description}
                div
                label(for="groupMembers") <b>Group Members:</b> 
                div
                label(for="members") #{group.users}
        a(href='/home/' + group.name + '/feed')
            button Group Dashboard
        a(href='/home/' + group.name + '/join')
            button Join Group