section
    div(class='column-profile')
        form(class="form-profile", method='get')
            fieldset 
                div
                label(for="groupName") Name:
                div
                label(for="name") #{message.username_sent}
                div
                label(for="groupDesc") Last Message
                div
                label(for="desc")  #{message.message_content}
                div