/* css variables */
:root {
    --spacing: 8px;
    --rounded-corner: 20px;
    --drop-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --theme-primary: #1a4c87;
    --theme-secondary: #eec217;

    --primary-color: green;
    --secondary-color: #6c757d;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}
/* set some defaults */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* main grid layout */
body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 1fr;
    justify-content: center;
    background: #E0E0E0;
}
header {
    background-color: #023e8a;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    z-index: 10;
}
header h1 {
    font-weight: bold;
    color: white;
    font-size: 18pt;
    
}

#sidebar-menu{
    box-shadow: 0px 0px 8px #0007;
}


/* form style */
#message-form {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background:  #023e8a;
}
#message-form > #message-button {
    position: fixed;
    bottom: 10px;
    right: 7px;
}
#message-form > #content {
    position: sticky;
    bottom: 10px;
}


button {
    border-radius: var(--rounded-corner);
    padding: 16px;
    background: white;
    color:  #333;
    box-shadow: none;
    transition: padding 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
#content, #message-name {
    height: 50px;
    width: calc(100% - 75px);
    display: block;
    box-sizing: border-box;
    font-size: 14pt;
    border: none;
    padding: 16px;
    background: white;
    border-radius: var(--rounded-corner);
    box-shadow: inset var(--drop-shadow);
}
#message-name {
    max-width: 12em;
}


/* style the messages */
#chat-log-container {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--spacing);
    box-shadow: inset var(--drop-shadow);
    overflow:auto;
}
.message-self, .message-other {
    position: relative;
    max-width: 80%;
    margin: var(--spacing) 0;
    display: flex;
    align-items: flex-end;
}
.message-self {
    margin-left: auto;
    flex-direction: row-reverse;
}
.message-other {
    margin-right: auto;
    flex-direction: row;
}

p.message-content {
    padding: var(--rounded-corner);
    border-radius: var(--rounded-corner);
    width: fit-content;
    background: white;
    position: relative;
    min-width: 90px;
    
}
p.message-content, p.sender-img {
    filter: drop-shadow(var(--drop-shadow));
}
.message-other p.message-content {
    color: var(--primary-color);
    background: white;
    /* border-bottom-left-radius: 0; */
    margin-left: 1em;
}
.message-self p.message-content {
    color: white;
    background: var(--primary-color);
    /* border-bottom-right-radius: 0; */
    margin-right: 1em;
}

/* triangle for the speech bubble shape (border hack) */
p.message-content:after {
    content: '';
	position: absolute;
	bottom: var(--rounded-corner);
	width: 0;
	height: 0;
	border: 12px solid transparent;
}
.message-other p.message-content:after {
    border-right-color: white;
    border-bottom: 0;
    left: 0;
    border-left: 0;
	margin-left: -12px;
}
.message-self p.message-content:after {
    border-left-color: var(--primary-color);
    border-bottom: 0;
    right: 0;
    border-right: 0;
	margin-right: -12px;
}

/* message timestamp */
p.timestamp {
    position: absolute;
    font-size: 0.8em;
    bottom: 0.3em;
    width:max-content;
    opacity: 0.5;
}
.message-self > p.timestamp {
    color: white;
    right: 100px;
}
.message-other > p.timestamp {
    color: black;
    right: var(--rounded-corner);
}

p.sender-name {
    position: absolute;
    font-size: 0.8em;
    color: #888;
    bottom: -1.2em;
    width: max-content;
}
.message-self > p.sender-name {
    right: 5px;
}
.message-other > p.sender-name {
    left: 5px;
}

p.sender-img {
    font-size: 2em;
    width:min-content
}
p.my-img {
    margin-right: 10px;
    font-size: 40px;
    width:min-content;
}
p.my-username {
    font-size: 30px;
    color: white;
}

.delete {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
}
.delete:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
    background: var(--theme-primary);
    margin: auto;
    width: max-content;
    border-radius: var(--rounded-corner);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.login > * {
    margin-top: var(--spacing);
}