.welcome-message {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome-title {
    font-size: 60px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .welcome-description {
    font-size: 18px;
    color: #666;
  }

  li {
    text-align: left;
    margin: 5px;
}

header {
  background: #023e8a;
}