doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/stylesheets/chat.css" rel="stylesheet")
  body
    header
        h1 #{username} 
        //include nav
    
        
    main(id="chat-log-container")
        each message in messages
          if message.owner 
            include templates/message_template.pug
          else
            include templates/message_recieved.pug

    form(action='/home/' + recieved +'/all-messages', method = 'post', id="message-form")
        input(id="content" type="text" autocomplete="off" placeholder="Aa" name="content")
        button(id="message-button" type="submit") Send