div(class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start")
  if isAuthenticated
    a(href="/home/profile" class="d-flex align-items-center mb-3 mb-md-auto text-decoration-none")
      span(class="fs-4" style="padding-right: 50px; margin-top: 5px; color: var(--bs-warning); font-weight: bold") Social Alumni
  else 
    a(href="/" class="d-flex align-items-center mb-3 mb-md-auto text-decoration-none")
      span(class="fs-4" style="padding-right: 50px; margin-top: 5px; color: #ffba08; font-weight: bold") Social Alumni
  

        
  ul(class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0")
    if isAuthenticated
      li
        a(href='/home/profile' class="nav-link px-2 text-warning") Profile
      li
        a(href='/home/messages' class="nav-link px-2 text-warning") Messages
      li 
        a(href='/home/groups' class="nav-link px-2 text-warning") Groups
      li 
        a(href='/home/main/feed' class="nav-link px-2 text-warning") Timeline 
      li
        a(href='/home/logout' class="nav-link px-2 text-warning") Logout
    else
      li
        a(href='/home/' class="nav-link px-2 text-warning") Home
      li
        a(href='/home/signin' class="nav-link px-2 text-warning") Login
      li
        a(href='/home/create' class="nav-link px-2 text-warning") Sign up
  if isAuthenticated
    form(class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex justify-content-center mb-4" action='/home/search', method='get')
      input(type="text", name="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" style="opacity: 0.5")
      button(type="submit" class="btn btn-outline-light me-2" style="background: var(--bs-warning);") Search
          